.App {
  position: relative;
}

.App-logo {
  height: 40vmin;
}
/*-----------------cart-button-sort----------------------*/

#cart-sort-cont{
  position: fixed;
  right: 0;
  background-color: white;
  width: 100%;
  top: 0;
  height: 100px;
  padding: 20px; 
}

#cart-button-cont{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#cart-button{
  font-size: 24px;
}

#sort-Bar{
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  align-items: baseline;
  margin-top: 10px;
}
#sort-products-dropdown{
  margin-left: 10px;
}

select{
  font-size: 16px;
}
option{
  font-size: 16px;
}


/*-----------------filters----------------------*/

#filters-tab{
  position: fixed;
  left: 20px;
  top: 100px;
  background-color: white;
}

#filters-tab-items{
  display: grid;
  width: 150px;
  height: 300px;
  grid-template-columns: auto auto;
  top: 100px;
}

#filters-label{
  margin-left: 10px;
}

.filter-item{
  width: 50px;
  height: 50px;
  background-color: cornsilk;
  border: solid 1px black ;
  border-radius: 25px;
  margin: 10px;
  font-size: 24px;
  padding-top: 5px;
  text-align: center
}
#filter-item-active{
  background-color:red;
  color: white
}

#filter-item-inactive{
  background-color: black;
  color: white
}

/*-----------------shelf-products-loading----------------------*/

.loading{
  padding: 200px;
  font-size: 30px;
}

#products-page{
  display: inline-block;
  margin-left: 500px;
  margin-top: 100px;
}

#product-img{
  width: 350px;
  height: 300px;
  object-fit: contain;
}

#product-details{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#product-info{
  font-size: 20px;
  margin-left: 20px;
}
#product-info ul{
  padding: 0;
}

.add-to-cart-button{
  background-color: orangered;
  color: white;
  border-radius: 3px;
  font-size: 20px;
  align-self: center
}
#prod-sep{
  height: 2px;
}
/*-----------------modal-cart-information----------------------*/
#cart-items-page{
  position: fixed;
  height: 600px;
  width: 400px;
  top:0;
  right: 0;
  font-size: 32px;
  background-color:black; 
  color: white;
  font-size: 20px;
  overflow: auto;
  padding: 20px;
}
#cart-image{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 20px 0px 0px 0px;
}
#cart-item-info{
  display: inline-block;
}

#cart-prod-tot-sep{
  background-color: white;
  margin-top: 30px; 
  height: 2px;
}

/*-----------------global----------------------*/

.seprator{
  background-color: gray
}

li {
  list-style-type: none;
}

